body {
  padding: 55px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #4f6482;
}
h1 {
  color: #4f6482;
}
h2 {
  color: #4f6482;
}
.banner_heading {
  font-family: 'Titillium Web', sans-serif;
}
.pwd-visiblity {
  font-size: 20px;
  color: #000;
  font-family: "Lucida Grande";
}
